{# load the tag library #}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
 <head>
  <title>Celke</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {# load Bootstrap CSS #}
  {% bootstrap_css %}

  <style>
   .list-travel-package {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
   }

   .title-list-travel-package {
    color: #324688;
    font-optical-sizing: 1.5rem;
    font-weight: bold;
   }

   .title-bar-list-travel-package {
    margin-right: 10px;
    width: 5px;
    height: 45px;
    background-color: #0661a7;
   }
  </style>
 </head>
 <body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="container">
    <a class="navbar-brand" href="#">
     Celke
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent"
     aria-expanded="false"
     aria-label="Toggle navigation"
    >
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
       <a class="nav-link active" href="{% url 'home' %}">
        Home
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link active" href="{% url 'black_friday' %}">
        Black Friday
       </a>
      </li>
     </ul>
     <div class="col-md-3 text-end">
      <a
       target="_blank"
       href="{% url 'admin:index' %}"
       class="btn btn-outline-light me-2"
      >
       LogIn
      </a>
     </div>
    </div>
   </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <footer class="footer mt-auto py-3 bg-light">
   <div class="container text-center">
    <span class="text-muted">
     Copyright &copy; Celke {% now "Y" %}
    </span>
   </div>
  </footer>

  {# load Bootstrap JS #}
  {% bootstrap_javascript %}
 </body>
</html>
